body {
    font-family: SUSE;
    background-color: #c4bcb2;
}

h1 {
    color: #4c4cb4;
    font-family: 'Ubuntu Sans Mono';
    font-size: 2.5em;
}

h2 {
    color: #008b3a;
}

hr {
    border: 1px dotted;
}

a {
    text-decoration: none;
}

a:hover {
    color: #d68850;
}

a:visited {
    color: #3d8183;
}

a:visited:hover {
    color: #d68850;

}

.margin-left {
    margin-left: 40px;
}
/* samma indrag som ul: padding-inline-start: 40px; */

.brown {
    color:#88542e;
}

.h3-sized-subheading{
    font-size: 1.17em;
}
/* samma font-size som h3: font-size: 1.17em; */
